@model IEnumerable<ShoppingListApp.Models.ShoppingListItemModel>

@{
    ViewBag.Title = "Shopping List Items";
}

<div style="display: inline-block;">
    <h2>Shopping List Items</h2>
</div>

<div style="display: inline-block; float: right; padding-top: 3%;">
    <button type="button">@Html.ActionLink("Add New Item", "Create", new { Id = Url.RequestContext.RouteData.Values["id"] })</button>
    <button type="button">@Html.ActionLink("Delete all items", "DeleteAll")</button>
</div>

<hr style="border: 1px solid #0026ff" />​

<table class="table">
    <tr id="tableheader">
        <th>
            <input type="checkbox" id="checkBoxAll" />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="tableitems">
            <td>
                <input type="checkbox" name="IdsToBeDeleted" class="chkCheckBoxId" value="@item.Id" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <button type="button">@Html.ActionLink("Delete", "Delete", new { Id = item.Id, ShoppingListId = item.ShoppingListId })</button> |
                <button type="button">@Html.ActionLink("Edit", "Edit", new { Id = item.Id, ShoppingListId = item.ShoppingListId })</button>

            </td>
        </tr>
    }

</table>



@{ Html.EndForm(); }

@section scripts {

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked"))
                    $('.chkCheckBoxId').prop('checked', true);
                else
                    $('.chkCheckBoxId').prop('checked', false);
            });

        });
    </script>
}
