@model IEnumerable<ShoppingListApp.Models.ShoppingListModel>

@{
    ViewBag.Title = "Shopping Lists";
}

<div style="display: inline-block;">
    <h2>Shopping Lists</h2>
</div>

<div style="display: inline-block; float: right; padding-top: 3%;">
    <button type="button">@Html.ActionLink("Create List", "Create")</button>
    <button type="button">@Html.ActionLink("Delete List", "DeleteAll")</button>
</div>


<table class="table">
    <tr id="tableheader">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr id="tableitems">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedUtc)
            </td>
            <td>
                <button type="button">@Html.ActionLink("Show", "Index", "ShoppingListItemApp", new { id = item.Id }, null)</button> |
                <button type="button">@Html.ActionLink("Delete", "Delete", new { id = item.Id })</button> |
                <button type="button">@Html.ActionLink("Edit", "Edit", new { id = item.Id })</button>

            </td>
        </tr>
    }

</table>
